# --- Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# --- Virtual envs
.venv/
venv/
env/
ENV/

# --- OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Dagster local state
.dagster/
dagster_home/

# --- Dotenv (secrets)
.env
**/.env
.env.*
**/.env.*

# --- Logs
logs/
*.log
